.height-100{
    height: 100%;
}
.banner{
    // overflow: hidden;
    padding-top: 90px;
    position: relative;
 
    &::after{
        position: absolute;
        background-image: url('./.././img/Flood.png');
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;  
    }
    .banner-wrap-center{

        height: 100%;
        position: relative;
        @include display-flex(flex);
        @include justify-content-center;
        @include align-items-center;
        .banner-content{
            z-index: 11;
            max-width: 690px;
            figure{
                margin-bottom: 2.688rem;
                img{
                    width: 110px;
                    height: 90px;
                }
            }
            h2{
                span{
                    color: $primary-dark;
                }
            }
            .icon-wrap{
                display: block;
                i{
                    padding: 11px 12px;
                    color: $warning-text;
                    background: $white-color;
                    @include radius(50%);
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
}
@media #{$breakpoint-lg}{
    .banner{
        .banner-wrap-center{
            .banner-content{
                .icon-wrap{
                    i{
                        padding: 8px 10px;
                        font-size: 22px;
                    }
                }
            }
        }
    }    
}

@media #{$breakpoint-md}{
    .banner{
        .banner-wrap-center{
            .banner-content{
                .icon-wrap{
                    i{
                        padding: 6px 8px;
                        font-size: 20px;
                    }
                }
            }
        }
    }    
}

@media #{$breakpoint-sm}{
    .banner{
        .banner-wrap-center{
            .banner-content{
                .icon-wrap{
                    i{
                        padding: 6px 8px;
                        font-size: 20px;
                    }
                }
            }
        }
    }    
}

@media #{$breakpoint-xs-landscape}{
    .banner{
        .banner-wrap-center{
            .banner-content{
                .icon-wrap{
                    i{
                        padding: 5px 7px;
                        font-size: 17px;
                    }
                }
            }
        }
    }    
}

@media #{$breakpoint-xxs-landscape}{
    .banner{
        .banner-wrap-center{
            .banner-content{
                .icon-wrap{
                    i{
                        padding: 5px 7px;
                        font-size: 17px;
                    }
                }
            }
        }
    }    
}