.main-header {
    &.user-management-header{
        .navbar{
            .navbar-right{
                .user-menu{
                    .dropdown-toggle{
                        .user-info{
                            h6, span{
                                color: $dark;
                            }
                        }
                    }
                }
            }
        }
    }
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    // border-bottom: 1px solid $bg-secondary;
    @include transition(margin-left 0.3s ease-in-out);
    padding: .66125rem 0;
    background-color: $white-color;
    &.header-mod{
        padding: 1.25rem 0 .5rem;
    }
    .navbar {
        align-items: center;

        .input-group {
            max-width: 360px;
            background-color: $bg-secondary;
            @include radius(5px);

            .input-group-text {
                background: transparent;
                border: none;
                color: $dark-light;
                font-size: 1.625rem;
                padding-right:0;
            }

            input.form-control {
                border: 0;
                background: transparent;
                height: 2.8rem;
                font-size: .75rem;
                color: rgba($dark, .3);
                @include transition(all .5s ease-in-out);
                &:focus{
                    color: $dark;
                }
                &:hover{
                    cursor: pointer;
                }
                &::placeholder{
                    color: rgba($dark, .3);
                }

                @include input-placeholder {
                    font-size: .75rem;
                }
            }
        }
        //in case of logo 
        .navbar-left{
            /* img{
                width: 4.125rem;
            } */
            .logo{
                font-size: 2rem;
                font-weight: 900;
                font-style: italic;
                line-height: 2.938rem;
                color: $primary-dark;
                span{
                    color: $warning-text;
                }
            }
        }

        .navbar-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .dropdown-toggle {
                padding-right: 1.5rem;
                position: relative;

                &::after {
                    display: none;

                }

               /*  &:before {
                    position: absolute;
                    right: 0;
                    font-family: 'Material Icons';
                    content: 'expand_more';
                    font-size: 1.5rem;
                    color: $color-drpdown;
                } */
            }

            .dropdown-menu {
                right: 0;
                // padding: 0;
                @include transition(all .4s ease-in-out);
                top:180%;
                display: initial;
                opacity: 0;
                visibility: hidden;

                li {
                    @include transition(all .5s linear);
                    padding: .625rem .75rem;
                    a {
                        display: block;
                        font-size: 0.688rem;
                        // padding: 0.625rem 1.25rem;
                        color:$dark;
                        font-weight: 400;
                    }
                    &:hover{
                        background: rgba($dark, .1);
                        a{
                            &:hover{
                                color: rgba($dark, .6); 
                            }
                        }
                    }

                    &:last-child {
                        border-bottom: 0;
                    }

                    &.dropdown-header {
                        background-color: $bg-secondary;
                        border-bottom: 1px solid $white-color;
                        padding-bottom: 0.94rem;
                        padding: 1.25rem 1.25rem 0.63rem;
                        color: $primary-color;
                        font-size: 1rem;
                        margin-bottom: 0.63rem;
                    }

                    &.dropdown-footer {
                        a {
                            // padding: 0.94rem 1.25rem;
                            font-weight: 400;
                            @include display-flex(flex);
                            @include justify-content-start;
                            align-items: center;
                            text-transform: capitalize;
                            i {
                                margin-right: 0.5rem;
                                font-size:1.2rem;
                            }
                        }
                    }
                }
                &.show{
                    display: initial;
                    top:130%;
                    opacity: 1;
                    visibility: visible;
                }
            }

            .user-menu {
                .dropdown-toggle {
                    padding: 0;
                    // padding: 0 1.5rem 0 1rem;
                    display: inline-block;
                    background-color: transparent;
                    box-shadow: none;
                    border: none;
                    @include display-flex(flex);
                    align-items: center;

                    .user-info {
                        text-align: left;
                        padding-left: .525rem;
                        padding-right: .625rem; 
                        h6 {
                            color: $dark;
                            text-transform: capitalize;
                            margin: 0;
                            font-weight: 600;
                            font-size: .875rem;
                            line-height: 1.063;
                        }

                        span {
                            color: rgba($dark, .6);
                            text-transform: capitalize;
                            font-size: .75rem;
                        }
                    }
                    &:focus{
                        box-shadow: none;
                        -webkit-outline:none;
                        outline:none;
                    }
                }

                .dropdown-menu {
                    padding: .75rem 0;
                    z-index: 1111;
                    background-color: $white-color;
                    border: 0;
                    @include box-shadow(0 3px 10px rgba(0, 0, 0, 0.16));
                }
                    
                .user-image {
                    width: 40px;
                    height: 40px;
                    @include radius(50%);
                    border-radius: .25rem;
                }
            }
        }
    }
}

@media #{$breakpoint-lg}{
    .main-header {
       .navbar  {
           .input-group{
               max-width: 250px;
                input{
                    &.form-control{
                        height: 1.75rem;
                        font-size: .688rem;
                        padding: .375rem .5rem;
                        &::placeholder{
                            font-size: .688rem;
                            transform: translate(0, 1px);
                            // color: red;
                        }
                    }
                }
                .input-group-text{
                    i{
                        font-size: 16px;
                    }
                }
           }
           .navbar-right {
                .user-menu {
                    .user-image{
                        width: 36px;
                        height: 36px;
                    }
                    .dropdown-toggle{
                        &::before{
                            right: 10px;
                            font-size: 1.125rem;
                        }
                        .user-info{
                            padding-left: .325rem;
                            padding-right: .625rem;
                            h6{
                                font-size: .75rem;
                                line-height: .875;
                            }
                            span{
                                font-size: .688rem;
                            }
                        }
                    }
                    .dropdown-menu{
                        li{
                            padding: .25rem .75rem;
                            a{
                                font-size: 0.75rem;
                                padding: 0.425rem 1rem;
                            }
                            &.dropdown-footer{
                                a{
                                    font-size: 0.75rem;
                                    padding: 0.75rem 1.25rem;
                                    i{
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}

@media #{$breakpoint-md}{
  
    .main-header {
        &.user-management-header{
            .navbar{
                flex-direction: row;
                @include align-items-center;
            }
        }
       .navbar  {
           flex-direction: column;
           align-items: flex-start;
           .input-group{
               max-width: 300px;
               margin-bottom: 15px;
                input{
                    &.form-control{
                        height: 1.75rem;
                        font-size: .75rem;
                        padding: .375rem .5rem;
                        &::placeholder{
                            font-size: .75rem;
                            transform: translate(0, 1px);
                            // color: red;
                        }
                    }
                }
                .input-group-text{
                    i{
                        font-size: 16px;
                    }
                }
           }
           .navbar-right {
                .user-menu {
                    .user-image{
                        width: 38px;
                        height: 38px;
                    }
                    .dropdown-toggle{
                        padding: 0 1.5rem 0 0rem;
                        &::before{
                            right: 10px;
                            font-size: 1.125rem;
                        }
                        .user-info{
                            padding-left: .325rem;
                            padding-right: .625rem;
                            h6{
                                font-size: .75rem;
                                line-height: .875;
                            }
                            span{
                                font-size: .688rem;
                            }
                        }
                    }
                    .dropdown-menu{
                        z-index: 1111;
                        li{
                            a{
                                font-size: 0.625rem;
                                padding: 0.525rem 1.25rem;
                            }
                            &.dropdown-footer{
                                a{
                                    font-size: 0.625rem;
                                    padding: 0.75rem 1.25rem;
                                    i{
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}

@media #{$breakpoint-xs}{
     
    .main-header {
       .navbar  {
           .input-group{
               max-width: 230px;
                input{
                    &.form-control{
                        height: 1.75rem;
                        font-size: .688rem;
                        padding: .375rem .5rem;
                        &::placeholder{
                            font-size: .688rem;
                            transform: translate(0, 1px);
                            // color: red;
                        }
                    }
                }
                .input-group-text{
                    i{
                        font-size: 16px;
                    }
                }
           }
           .navbar-right {
                .user-menu {
                    .user-image{
                        width: 36px;
                        height: 36px;
                    }
                    .dropdown-toggle{
                        &::before{
                            right: 10px;
                            font-size: 1.125rem;
                        }
                        .user-info{
                            padding-left: .325rem;
                            padding-right: .625rem;
                            h6{
                                font-size: .75rem;
                                line-height: .875;
                            }
                            span{
                                font-size: .688rem;
                            }
                        }
                    }
                    .dropdown-menu{
                        li{
                            a{
                                font-size: 0.75rem;
                                padding: 0.525rem 1.25rem;
                            }
                            &.dropdown-footer{
                                a{
                                    font-size: 0.75rem;
                                    padding: 0.75rem 1.25rem;
                                    i{
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}

@media #{$breakpoint-xxs-landscape}{
    .main-header {
       .navbar  {
           flex-direction: column;
           align-items: flex-start;
           .input-group{
               max-width: 250px;
               margin-bottom: 15px;
                input{
                    &.form-control{
                        height: 1.75rem;
                        font-size: .75rem;
                        padding: .375rem .5rem;
                        &::placeholder{
                            font-size: .75rem;
                            transform: translate(0, 1px);
                            // color: red;
                        }
                    }
                }
                .input-group-text{
                    i{
                        font-size: 16px;
                    }
                }
           }
           .navbar-right {
                .user-menu {
                    .user-image{
                        width: 38px;
                        height: 38px;
                    }
                    .dropdown-toggle{
                        padding: 0 1.5rem 0 0rem;
                        &::before{
                            right: 10px;
                            font-size: 1.125rem;
                        }
                        .user-info{
                            padding-left: .325rem;
                            padding-right: .625rem;
                            h6{
                                font-size: .75rem;
                                line-height: .625;
                            }
                            span{
                                font-size: .688rem;
                            }
                        }
                    }
                    .dropdown-menu{
                        z-index: 1111;
                        li{
                            a{
                                font-size: 0.625rem;
                                padding: 0.525rem 1.25rem;
                            }
                            &.dropdown-footer{
                                a{
                                    font-size: 0.625rem;
                                    padding: 0.75rem 1.25rem;
                                    i{
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}