.user-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: $white-color;
    line-height: 2.25;
}
.user-span16{
    font-size: .75rem;
    font-weight: 400;
    color: $primary-light;
    line-height: 1.125rem;
    text-transform: capitalize;
}
.user-span18{
    font-size: .844rem;
    font-weight: 600;
    line-height: 1.125rem;
    color: $secondary-color-light;
}
.user-span14{
    font-size: .656rem;
    font-weight: 400;
    line-height: 1.219rem;
    text-transform: capitalize;
    color: $dark;
}
.kvs-wrapper{
    .main-content{
        main{
            /* user-info */
            .user-info{
                padding: 3rem 2.813rem 2rem 2.813rem;
                .user-info-header{
                    ul{
                        @include display-flex(flex);
                        li{
                            position: relative;
                            @include transition(all .4s ease-in-out);
                            &.user-span18{
                                color: lighten($dark, 60%);
                            }
                            &.current{
                                color: $dark;
                                &:after{
                                    opacity: 1;
                                    visibility: visible;
                                    width: .938rem;
                                    background-color: $primary-dark;
                                }
                            }
                            &:not(:last-child){
                                margin-right: 1.875rem;
                            }
                            &:hover{
                                color: $dark;
                                cursor: pointer;
                                &::after{
                                    width: 100%;
                                    background-color: $primary-dark;
                                    opacity: 1;
                                    visibility: visible;
                                    @include transition(width .4s ease-in-out);
                                }
                            }
                            &::after {
                                opacity: 0;
                                visibility: hidden;
                                content: '';
                                position: absolute;
                                left: 0;
                                width: 0;
                                height: 1.5px;
                                bottom: -2px;
                                background-color: transparent;
                            }
                        }
                    }
                }
                .user-info-body{
                    margin-top: 1.875rem;
                    ul{
                        background: $white-color;
                        @include box-shadow(0 .25rem .75rem $box-shadow);
                        li{
                            padding: .625rem 1.25rem;
                            border-bottom: 1px solid $box-shadow;
                            span{
                                display: inline-block;
                                &:not(:last-child){
                                    flex: 0 0 40%;
                                    width: 40%;
                                    opacity: .8;
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
}

@media #{$breakpoint-lg}{
    .user-title{
        font-size: 1.25rem;
    }
    .user-span18{
        font-size: .813rem;
    }
    .user-span16{
        font-size: .688rem;
        text-transform: capitalize;
    }
    .user-span14{
        font-size: .563rem;
    } 
}

@media #{$breakpoint-md}{
    .user-title{
        font-size: 1.125rem;
    }
    .user-span18{
        font-size: .725rem;
    }
    .user-span16{
        font-size: .688rem;
        text-transform: capitalize;
    }
    .user-span14{
        font-size: .563rem;
    } 
}

@media #{$breakpoint-xs}{
    .user-title{
        font-size: 1rem;
    }
    .user-span18{
        font-size: .688rem;
    }
    .user-span16{
        font-size: .625rem;
        text-transform: capitalize;
    }
    .user-span14{
        font-size: .563rem;
    }

    .kvs-wrapper {
        .main-content{
            main{
                .user-info{
                    margin-top: 1.75rem;
                    .user-info-body{
                        margin-top: 1rem;
                    }
                }
            }
        }
    } 
}
