.user-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: $white-color;
  line-height: 2.25;
}

.user-span16 {
  font-size: 0.75rem;
  font-weight: 400;
  color: $primary-light;
  line-height: 1.125rem;
  text-transform: capitalize;
}

.user-span18 {
  font-size: 0.844rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: $secondary-color-light;
}

.user-span14 {
  font-size: 0.656rem;
  font-weight: 400;
  line-height: 1.219rem;
  text-transform: capitalize;
  color: $dark;
}
/* 
.kvs-wrapper {
    .main-content { */
main {
  /* user-info */
  .user-info {
    padding: 1.5rem 2.813rem 0;
    .user-info-header {
      ul {
        @include display-flex(flex);
        li {
          position: relative;
          @include transition(all 0.4s ease-in-out);
          &.user-span18 {
            color: lighten($dark, 60%);
          }
          &.current {
            color: $dark;
            &:after {
              opacity: 1;
              visibility: visible;
              width: 0.938rem;
              background-color: $primary-dark;
            }
          }
          &:not(:last-child) {
            margin-right: 1.875rem;
          }
          a {
            &.user-span18 {
              color: lighten($dark, 60%);
            }
            &.current {
              color: $dark;
              &:after {
                opacity: 1;
                visibility: visible;
                width: 0.938rem;
                background-color: $primary-dark;
              }
            }
            &:hover {
              color: $dark;
              cursor: pointer;
              &::after {
                width: 100%;
                background-color: $primary-dark;
                opacity: 1;
                visibility: visible;
                @include transition(width 0.4s ease-in-out);
              }
            }
            &::after {
              opacity: 0;
              visibility: hidden;
              content: '';
              position: absolute;
              left: 0;
              width: 0;
              height: 1.5px;
              bottom: -2px;
              background-color: transparent;
            }
          }
        }
      }
    }
    .user-info-body {
      margin-top: 1.25rem;
      &.active {
        display: block;
      }
      &.hide {
        display: none;
      }
      &.user-info-bg {
        background: $white-color;
        margin-left: 25px;
      }
      &.user-info-add-body {
        ul {
          li {
            span {
              &:last-child {
                opacity: 0.8;
              }
            }
          }
        }
      }
      ul.data-mod {
        &::-webkit-scrollbar {
          width: 4px;
        }
        &::-webkit-scrollbar-track {
          background: lighten($color-drpdown, 30%);
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: lighten($color-drpdown, 10%);
          @include radius(5px);
        }
        &::-webkit-scrollbar-thumb:hover {
          background: darken($color-drpdown, 5%);
        }
        height: calc(100vh - 220px);
        // max-height: 550px;
        overflow-x: auto;
        background: $white-color;
        @include box-shadow(0 0.25rem 0.75rem $box-shadow);
        li {
          //   display: flex;
          padding: 0.625rem 1.25rem;
          border-bottom: 1px solid $box-shadow;
          max-width: 100%;
          div {
            // flex: 0 0 55%;
            // width: 55%;
            .form-wrap {
              width: 100%;
              position: relative;
              span {
                position: relative;
                &:active {
                  border: 1px solid darken($gray-color, 10%);
                }
                &:hover {
                  @include box-shadow(0 0 3px 0px lighten($gray-color, 30%));
                  cursor: pointer;
                }
                &:after {
                  content: '\f0d7';
                  font-family: FontAwesome;
                  position: absolute;
                  right: 10px;
                }
                display: block;
                width: 100%;
                padding: 0.25rem 0.75rem;
                font-size: 0.656rem;
                line-height: 1.5;
                color: $text-color;
                background-color: $white-color;
                border: 1px solid rgba($text-color, 0.4);
                @include radius(4px);
                @include animation(all 0.6s ease-in-out);
              }
              .select-wrap {
                position: absolute;
                width: 100%;
                top: 140%;
                left: 0;
                right: 0;
                opacity: 0;
                visibility: hidden;
                @include radius(5px);
                transition: all 0.5s ease-in-out;
                z-index: 2;
                background-color: lighten($text-color, 40%);
                option {
                  padding: 5px 20px;
                  font-size: 0.656rem;
                  &:hover {
                    @include transition(all 0.4s linear);
                    cursor: pointer;
                    background-color: rgba($text-color, 0.3);
                  }
                }
                &.select-wrap-toggle {
                  top: 100%;
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
          span {
            position: relative;
            display: inline-block;

            &:not(:last-child) {
              flex: 0 0 40%;
              width: 40%;
              opacity: 0.8;
            }
            &:last-child {
              flex: 0 0 55%;
              width: 55%;
              input.form-control {
                width: 100%;
                @include transition(all 0.5s ease-in-out);
                font-size: 0.656rem;
                font-weight: 400;
                line-height: 1.219rem;
                text-transform: capitalize;
                color: $dark;
                background: transparent;
                border: 0;
                height: auto;
                padding: 0;
                &:focus {
                  color: darken($primary-dark, 25%);
                  border: 0;
                }
                &::placeholder {
                  font-size: 0.656rem;
                  font-weight: 400;
                  line-height: 1.219rem;
                  text-transform: capitalize;
                  color: $dark;
                }
                &:hover {
                  cursor: pointer;
                  color: rgba($dark, 0.5);
                  &::placeholder {
                    color: rgba($dark, 0.5);
                  }
                }
              }
            }
            /*   &:last-child{
                                    opacity: .8;
                                } */
          }
        }
      }
    }
    .btn-mod {
      margin-top: 1.5rem;
      @include display-flex(flex);
      @include justify-content-end;
      .common-button-bg {
        font-size: 0.525rem;
        &:last-child {
          background: lighten($danger-color, 20%);
          color: $white-color;
          margin-left: 5px;
        }
        &:hover {
          @include box-shadow(0 2px 4px 0px $text-color);
          // background: transparent;
        }
      }
    }
  }
  .modal-wrapper {
    .modal-container {
      .popup-block {
        @include box-shadow(0 17px 16px 0px);
        padding: 50px 0;
        .popup-container {
          text-align: center;
          max-width: 245px;
          margin: 0 auto;
          span {
            @include radius(50%);
            background: $icon-bg;
            color: $danger-color;
            display: inline-block;
            margin-bottom: 20px;
            i {
              width: 50px;
              height: 50px;
              @include display-flex(flex);
              @include align-items-center;
              @include justify-content-center;
            }
          }
          h2 {
            font-size: 1.5rem;
            font-weight: 500;
            color: $dark;
          }
          .para {
            padding: 15px 0 30px;
            p {
              font-size: 0.75rem;
              color: $dark;
            }
          }
          .btn-action {
            @include display-flex(flex);
            @include justify-content-center;
            .btn {
              color: $color-drpdown;
              background: $text-gray;
              font-size: 0.688rem;
              font-weight: 500;
              padding: 8px 20px;
              @include transition(all 0.5s ease-in-out);
              @include radius(25px);
              &:hover {
                opacity: 0.8;
              }
              &.delete {
                margin-left: 10px;
                color: $primary-dark;
                background: $secondary-color-light;
              }
            }
          }
        }
      }
    }
  }
}
/* }
} */

@media #{$breakpoint-lg} {
  .user-title {
    font-size: 1.25rem;
  }
  .user-span18 {
    font-size: 0.813rem;
  }
  .user-span16 {
    font-size: 0.688rem;
    text-transform: capitalize;
  }
  .user-span14 {
    font-size: 0.563rem;
  }
  main {
    .user-info {
      padding: 1.5rem 2rem 0;
      .btn-mod {
        .common-button-bg {
          font-size: 0.483rem;
        }
      }
    }
    .modal-wrapper {
      .modal-container {
        max-width: 415px;
        margin: 0 auto;
        .popup-block {
          padding: 40px 0;
          .popup-container {
            h2 {
              font-size: 1.25rem;
            }
            .para {
              padding: 10px 0 25px;
              p {
                font-size: 0.688rem;
              }
            }
            .btn-action {
              .btn {
                font-size: 0.625rem;
                padding: 6px 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$breakpoint-md} {
  .user-title {
    font-size: 1.125rem;
  }
  .user-span18 {
    font-size: 0.725rem;
  }
  .user-span16 {
    font-size: 0.688rem;
    text-transform: capitalize;
  }
  .user-span14 {
    font-size: 0.563rem;
  }
  main {
    .user-info {
      padding: 1.25rem 1.5rem 0;
      .user-info-body {
        &.user-info-bg {
          margin-left: 15px;
        }
      }
      .btn-mod {
        .common-button-bg {
          font-size: 0.483rem;
        }
      }
    }
    .modal-wrapper {
      .modal-container {
        max-width: 315px;
        margin: 0 auto;
        .popup-block {
          padding: 30px 0;
          .popup-container {
            max-width: 205px;
            h2 {
              font-size: 1.125rem;
            }
            .para {
              padding: 8px 0 20px;
              p {
                font-size: 0.625rem;
              }
            }
            .btn-action {
              .btn {
                font-size: 0.525rem;
                padding: 5px 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$breakpoint-xs} {
  .user-title {
    font-size: 1rem;
  }
  .user-span18 {
    font-size: 0.688rem;
  }
  .user-span16 {
    font-size: 0.625rem;
    text-transform: capitalize;
  }
  .user-span14 {
    font-size: 0.563rem;
  }
  main {
    .user-info {
      padding: 1.25rem 3rem 1rem;
      .user-info-header {
        ul {
          li {
            &:not(:last-child) {
              margin-right: 1.5rem;
            }
          }
        }
      }
      .user-info-body {
        // max-width: 100%;
        &.user-info-bg {
          margin-left: 0px;
          padding: 0;
        }
      }
      .btn-mod {
        margin-top: 1rem;
        .common-button-bg {
          font-size: 0.483rem;
        }
      }
    }
    .modal-wrapper {
      .modal-container {
        max-width: 315px;
        margin: 0 auto;
        .popup-block {
          padding: 30px 0;
          .popup-container {
            max-width: 205px;
            span {
              margin-bottom: 15px;
              i {
                width: 40px;
                height: 40px;
              }
            }
            h2 {
              font-size: 1.125rem;
            }
            .para {
              padding: 8px 0 20px;
              p {
                font-size: 0.625rem;
              }
            }
            .btn-action {
              .btn {
                font-size: 0.525rem;
                padding: 5px 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$breakpoint-xs-landscape} {
  main {
    .modal-wrapper {
      .modal-container {
        max-width: 280px;
        margin: 0 auto;
        .popup-block {
          padding: 30px 0;
          .popup-container {
            max-width: 205px;
            h2 {
              font-size: 1rem;
            }
            .para {
              padding: 8px 0 20px;
              p {
                font-size: 0.5rem;
              }
            }
            .btn-action {
              .btn {
                font-size: 0.425rem;
                padding: 5px 18px;
              }
            }
          }
        }
      }
    }
  }
  .kvs-wrapper {
    .main-content {
      main {
        .user-info {
          padding: 1.875rem 3rem 1rem;
        }
      }
    }
  }
}

@media #{$breakpoint-xxs-landscape} {
  main {
    .modal-wrapper {
      .modal-container {
        max-width: 250px;
        margin: 0 auto;
        .popup-block {
          padding: 20px 0;
          .popup-container {
            max-width: 150px;
            h2 {
              font-size: 0.875rem;
            }
            .para {
              padding: 5px 0 15px;
              p {
                font-size: 0.425rem;
              }
            }
            .btn-action {
              .btn {
                font-size: 0.325rem;
                padding: 4px 15px;
              }
            }
          }
        }
      }
    }
  }
  .kvs-wrapper {
    .main-content {
      main {
        .user-info {
          padding: 1.875rem 2rem 1rem;
          .user-info-header {
            ul {
              li {
                &:not(:last-child) {
                  margin-right: 1rem;
                }
                a {
                  font-size: 0.625rem;
                }
              }
            }
          }
          .user-info-body {
            ul.data-mod {
              li {
                div {
                  flex: 0 0 40%;
                  width: 40%;
                }
                span {
                  &:not(:last-child) {
                    flex: 0 0 50%;
                    width: 50%;
                  }
                  &:last-child {
                    flex: 0 0 40%;
                    width: 40%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
