.tab{
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
    padding:1rem 2rem;
    background-color:$white-opacity-5;
    right:0;
    width:100%;
    ul{
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;
        &.data-list{    
            display: none;
            padding-top: 10px;
            &.active-toggle{
                display: block;
                @include  transition(height .5s ease-in-out);
            }
            li{
                font-size: .688rem;
                display: inline;
                font-weight: 500;
                color: $text-color;
                &:after{
                    width: 0;
                } 
                &:before{
                    content: "\f111";
                    font-family: "FontAwesome";
                    font-size: 8px;
                    color: $text-color;
                    padding-right: 3px;
                    @include transition(all .5s linear);
                }
                &:not(:last-child){
                    margin-right: 2rem;
                }
                &:hover{
                    @include transition(all .5s linear);
                    &::before{
                        color: $dark;
                    }
                    &:after{
                        background-color: transparent;
                        width: 70%;
                        @include transition(all .5s linear);
                    }
                }
            }
        }
        li{
            min-width: 80px;
            position: relative;
            @include transition(all .5s linear);
            padding-bottom: .25rem;
            font-weight: 600;
            text-transform: capitalize;
            cursor: pointer;
            font-size: .875rem;
            &::after {
                opacity: 0;
                visibility: hidden;
                content: '';
                position: absolute;
                left: 0;
                width: 0;
                height: 2px;
                bottom: 0;
                background-color: transparent;
            }
            &.current {
                color: $dark;

                &::after {
                    width: 20px;
                    background-color: $primary-dark;
                    opacity: 1;
                    visibility: visible;
                }
            }
            &:hover {
                color: $dark;
                &::after {
                    width: 20px;
                    background-color: $primary-dark;
                    opacity: 1;
                    visibility: visible;
                    @include transition(width .4s linear);
                }
            }
        }
    }
}


@media #{$breakpoint-lg}{
    .tab{
        ul{
            li{
                font-size: .75rem;
            }
        }
    }
}

@media #{$breakpoint-md}{
    .tab{
        ul{
            li{
                font-size: .75rem;
            }
        }
    }
}

@media #{$breakpoint-sm}{
    .tab{
        ul{
            li{
                font-size: .813rem;
            }
        }
    }
}

@media #{$breakpoint-xs-landscape}{
    .tab{
        ul{
            li{
                min-width: 70px;
                font-size: .75rem;
            }
        }
    }
}

@media #{$breakpoint-xxs-landscape}{
    .tab{
        ul{
            li{
                min-width: 55px;
                font-size: .625rem;
            }
        }
    }
}