
.common-table{
    thead{
        background-color:$white-color;
        th{
            padding: .688rem .938rem;
            font-size: .625rem;
            text-transform: capitalize;
            color: $dark;
            opacity: .5;
            font-weight: 400;
            vertical-align: middle;
            &:nth-last-child(2){
                width: 40px;
                text-align: center;
            }
            &:nth-last-child(3){
                width: 30px;
                text-align: center;
            }
        }
    }
    tbody{
        tr{
            border-bottom: 1px solid darken($gray-light, 6%);
            @include transition(all .3s ease-in-out);
            td{
                font-size: .688rem;
                padding: 1.375rem .938rem;
                color: $dark;
                font-weight: 400;
                &:nth-last-child(4){
                    text-align: center;
                }
                &:nth-last-child(3){
                    text-align: center;
                }
                &:nth-last-child(2){
                    text-align: center;
                }
                &:last-child{
                    text-align: center;
                }
                span{
                    &.security{
                        i{
                            font-size: 1.1rem;
                        }
                        &.check{
                            color:$green-color;
                        }
                        &.cross{
                            color:$danger-color;
                        }
                    }
                    &.more-link{
                        position: relative;
                        @include transition(all .4s ease-in-out);
                        &:hover{
                            cursor: pointer;
                            i{
                                @include transition(all .4s ease-in-out);
                                background: rgba($color-drpdown, .1);
                            }
                        }
                        i{
                            font-size: 1.1rem;
                            color: $color-drpdown;
                            @include radius(50%);
                            padding: 2px;
                            transform: translate(0px, -3px);
                        }
                        .more-list{
                            @include transition(all .4s ease-in-out);
                            @include radius(5px);
                            position: absolute;
                            right: 20px;
                            top: 0;
                            width: 100px;
                            background: $white-color;
                            padding: 10px 15px;
                            text-align: left;
                            a{
                                @include transition(all .4s ease-in-out);
                                display: block;
                                font-size: .688rem;
                                color: $dark;
                                font-weight: 500;
                                &:hover{
                                    color: rgba($dark, .4); 
                                }
                                &:last-child{
                                    margin-top: 6px;
                                }
                            }
                        }
                        &.active{
                            .more-list{
                                display: none;
                            }
                        }
                    }
                }
            }
            th{
                font-size: .75rem;
                padding: 1.375rem .938rem;
                color: $dark;
                font-weight: 500; 
                text-transform: capitalize;
                &:nth-last-child(4){
                    text-align: center;
                }
                &:nth-last-child(3){
                    text-align: center;
                }
                &:nth-last-child(2){
                    text-align: center;
                }
                &:last-child{
                    text-align: center;
                }
            }
            &:hover{
                @include box-shadow(0 17px 16px rgba(0,0,0,.1));
                background-color: $gray-light;
            }
        }
    }
}

@media #{$breakpoint-lg}{
    .common-table{
        thead{
            th{
                font-size: .625rem;
            }
        }
        tbody{
            tr{
                th{
                    font-size: .813rem;
                }
                td{
                    font-size: .688rem;
                    span{
                        &.security{
                            i{
                                font-size: .875rem;
                            }
                        }

                        &.more-link{
                            i{
                                font-size: 1rem;
                            }
                            .more-list{
                                a{
                                    font-size: .625rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media #{$breakpoint-md}{
    .common-table{
        thead{
            th{
                padding: .5rem .875rem;
                font-size: .563rem;
                vertical-align: middle;
            }
        }
        tbody{
            tr{
                th{
                    font-size: .688rem;
                    padding: .938rem .875rem;
                }
                td{
                    padding: .938rem .875rem;
                    font-size: .625rem;
                    span{
                        &.security{
                            i{
                                font-size: .875rem;
                            }
                        }
                        &.more-link{
                            i{
                                font-size: 1rem;
                            }
                            .more-list{
                                a{
                                    font-size: .583rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media #{$breakpoint-xs}{
    .common-table{
        thead{
            th{
                padding: .5rem .875rem;
                font-size: .688rem;
                vertical-align: middle;
            }
        }
        tbody{
            tr{
                th{
                    font-size: .688rem;
                    padding: .938rem .875rem;
                }
                td{
                    padding: .938rem .875rem;
                    font-size: .625rem;
                    span{
                        &.security{
                            i{
                                font-size: .875rem;
                            }
                        }
                        &.more-link{
                            i{
                                font-size: 1rem;
                            }
                            .more-list{
                                a{
                                    font-size: .583rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media #{$breakpoint-xs-landscape}{
    .common-table{
        thead{
            th{
                font-size: .563rem;
                padding: .5rem .625rem;
                vertical-align: middle;
            }
        }
        tbody{
            tr{
                td{
                    padding: .938rem .625rem;
                    font-size: .625rem;
                    span{
                        &.security{
                            i{
                                font-size: .875rem;
                            }
                        }
                        &.more-link{
                            i{
                                font-size: 1rem;
                            }
                            .more-list{
                                padding: 6px;
                                a{
                                    font-size: .525rem;
                                }
                            }
                        }
                    }
                }
                th{
                    font-size: .688rem;
                    padding: .938rem .625rem;
                }
            }
        }
    }
}

@media #{$breakpoint-xxs-landscape}{
    .common-table{
        thead{
            th{
                padding: .5rem .625rem;
                font-size: .563rem;
                vertical-align: middle;
            }
        }
        tbody{
            tr{
                th{
                    font-size: .688rem;
                    padding: .75rem .625rem;
                }
                td{
                    padding: .75rem .625rem;
                    font-size: .625rem;
                    span{
                        &.security{
                            i{
                                font-size: .75rem;
                            }
                        }
                        &.more-link{
                            i{
                                font-size: .875rem;
                            }
                            .more-list{
                                padding: 6px 15px;
                                a{
                                    font-size: .525rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// .dataTable {
//     width: 100% !important;
//     margin-top: 1rem;

//     thead {
//         background-color: $color-bg;

//         th {
//             color: $blue-light;
//             text-transform: uppercase;
//             font-family: $montserrat;
//             font-size: .875rem;
//             font-weight: 500;
//             padding: 1rem .6125rem;
//         }
//     }

//     tbody {
//         tr {
//             border-bottom: 1px solid $color-border;
//             @include animate_all(all .5s);

//             td {
//                 font-weight: 500;
//                 font-family: $montserrat;
//                 padding: 1rem .6125rem;

//                 span.budget {
//                     color: $color-secondary;
//                     font-weight: 500;
//                 }

//                 strong {
//                     font-size: 1rem;
//                     font-weight: 600;
//                     font-family: $montserrat;
//                 }

//                 .org-list {
//                     @include flexStart;

//                     a {
//                         max-width: 30px;
//                         margin-left: -10px;
//                         width: 30px;
//                         height: 30px;
//                         @include radius(50%);

//                         img {
//                             width: 30px;
//                             height: 30px;
//                             @include radius(50%);
//                             @include animate_all(all .5s);
//                             @include transform_scale(scale(1));
//                         }

//                         &:hover {
//                             img {
//                                 @include transform_scale(scale(1.2));
//                             }
//                         }
//                     }
//                 }

//                 .partner-info {
//                     align-items: center;
//                     flex-wrap: nowrap;
//                     img {
//                         width: 30px;
//                         height: 30px;
//                         @include radius(50%);
//                         margin-right: 1rem;
//                     }

//                     h6 {
//                         font-size: 1rem;
//                         font-weight: 600;
//                         text-overflow: ellipsis;

//                         /* Needed to make it work */
//                         overflow: hidden;
//                         white-space: nowrap;
//                     }
//                 }

//                 a {
//                     &.name {
//                         color: $blue-light;
//                         font-size: 1rem;
//                         font-family: $raleway;
//                         text-transform: capitalize;
//                         font-weight: 600;
                        
//                     }

//                     &.edit {
//                         color: $color-secondary;
//                         align-items: center;

//                         i {
//                             margin-right: .6125rem;
//                             font-size: 1rem;
//                         }
//                     }
//                 }
//             }

//             &:hover {
//                 @include boxshadow($boxshadow:0 17px 16px rgba($color-primary, 0.16));
//             }
//         }
//     }

//     .table-action {
//         position: relative;
//         display: inline-block;
//         a {
//             i {
//                 color: $color-bg-text;
//             }
//         }

//         ul {
//             position: absolute;
//             top: 100%;
//             right: 0;
//             min-width: 100px;
//             display: none;
//             @include boxshadow($boxshadow:0 3px 10px rgba(0, 0, 0, 0.16));
//             z-index: 999;
//             background-color: $color-white;

//             li {
//                 a {
//                     display: block;
//                     padding: 0.5rem 1rem;
//                     font-size: .775rem;
//                     color: $color-bg-text;
//                     align-items: center;

//                     i {
//                         font-size: 1rem;
//                         margin-right: 0.5rem;
//                     }

//                     &:hover {
//                         background-color: $color-secondary;
//                         color: $color-white;

//                     }
//                 }
//             }
//         }
//     }
//     &.table-border{
//         margin-top: 0rem;
//         thead{
//             tr{
//                 th{
//                     color: darken($blue-light, 40%);
//                     border: 1px solid $blue-light;
//                     font-size: 0.875rem;
//                 }
//                 &:nth-child(1){
//                     th{
//                         text-align: center;
//                     }
//                 }
                
//                 &:nth-child(2){
//                     th{
//                         text-align: center;
//                         font-size: 0.75rem;
//                     }
//                 }
//                 &:nth-child(3){
//                     th{
//                         font-size: 0.75rem;
//                     }
//                 }

//             }
//         }
//         tbody{
//             tr{
//                 td{
//                     border: 1px solid $blue-light;
//                     border-top: 0px;    
//                     font-size: 0.745rem;
//                 }
//             }
//         }
//     }
// }