/* for all*/

button.css-1r4vtzz {
  font-size: 0.688rem;
  min-height: 28px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 3px 8px 4px 8px;
  box-shadow: 0 0 0 0 transparent;
}
button.css-1r4vtzz:hover{
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 0 #6377ec;
  box-shadow: 0 0 3px 0 #6377ec;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
button.css-1r4vtzz:focus{
  border: red !important;
}
.css-1v99tuv{
  color: #ffffff;
}
.css-1gpjby2 svg{
  color: #ffffff;
}
button.css-48ayfv{
  font-size: 0.688rem !important;
  min-height: 28px !important;
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  width: 100% !important;
  vertical-align: middle !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  border-radius: 5px !important;
  padding: 3px 8px 4px 8px;
  box-shadow: none !important;

}
button.css-48ayfv~div{
  width: 100%;
}

div.css-1vr111p-option{
  display: flex;
  align-items: center;
  font-size: .688rem;
}

div.css-1qprcsu-option{
  display: flex;
  align-items: center; 
  font-size: .688rem;
  font-weight: 400;
  padding: 8px 10px!important;
}

/* .css-1hwfws3 {
    display: none;
} */
div.css-1jllj6i-control {
  display: none;
}
div.css-1pg61z7 {
  padding: 2px;
}
div.css-1vr111p-option {
  min-width: 125px;
  padding: 6px 10px;
  font-size: 0.75rem;
}

/* for values */

div.css-1qprcsu-option {
  font-size: 0.75rem;
  min-width: 130px;
}

/* for categories */
div.css-yk16xz-control {
  font-size: 0.75rem;
  min-height: 28px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div.css-yk16xz-control:hover{
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 0 #6377ec;
  box-shadow: 0 0 3px 0 #6377ec;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.css-tlfecz-indicatorContainer:hover{
  color: hsl(0,0%,80%) !important;
}

div.css-1gtu0rj-indicatorContainer{
  color: hsl(0,0%,80%) !important;
}

div.css-1pahdxg-control{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  min-height: 32px ;
  border-color: lighten (#3da5f4, 5%) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

div.css-1pahdxg-control:hover{
  cursor: pointer;
  border-color: lighten (#3da5f4, 5%) !important;
}

div.css-1uccc91-singleValue{
  font-size: .688rem;
}

div.css-26l3qy-menu{
 font-size: .688rem;
 border-top-right-radius: 4px !important;
 border-bottom-right-radius: 4px !important;
}

div.css-26l3qy-menu ::-webkit-scrollbar{
  width: 6px;
}

div.css-26l3qy-menu ::-webkit-scrollbar-thumb{
 background: darken(#b4b6b8, 15%);
 border-radius: 5px;
}

div.css-26l3qy-menu ::-webkit-scrollbar-thumb:hover{
  background: darken(#b4b6b8, 25%);
  cursor: pointer !important;
}

div.css-26l3qy-menu ::-webkit-scrollbar-track{
  background: lighten(#b4b6b8, 15%);
  
}

.css-b8ldur-Input{
  font-size: .688rem;
}
span.css-1okebmr-indicatorSeparator {
  display: none;
}

.css-6q0nyr-Svg {
  height: 15px;
  stroke: antiquewhite;
}
div.css-b8ldur-Input {
  color: antiquewhite;
}
div.css-1uccc91-singleValue {
  color: antiquewhite;
}

div.css-1pgwy9i-menu {
  font-size: 0.75rem;
  min-width: 130px;
  padding: 5px;
}
div.css-1pahdxg-control {
  color: black;
  background-color: transparent;
}

div.css-1wa3eu0-placeholder {
  color: antiquewhite;
  font-size: 0.688rem;
}
div.css-1wa3eu0-placeholder:active {
  color: black;
}

#hide {
  /* background-color: rgba(207, 200, 200, 0.5); */
  pointer-events: none;
  opacity: 0.6
}

/* sidebar scrollbar */
/* .ps__rail-y{
  width: 5px !important;
} */


/* css for upload */
.csv-input {
  color: blue;
  margin-left: 100px;
}


/* css for modal */
.react-confirm-alert-body {
  -webkit-box-shadow: 0 17px 16px 0px;
  box-shadow: 0 17px 16px 0px;
  padding: 50px 0;
  width: 560px;
  font-family: "Poppins", sans-serif !important;
}

.react-confirm-alert-body > h1 {
  color: black;
}
.react-confirm-alert-button-group > button{
  background: #F8E71C !important;
  color: #1F3BE3 !important;
  border-radius: 25px !important;
}





.btn {
  /* background: yellow; */
  border-radius: 25px;
}



