/* .css-1hwfws3 {
  background-color: grey;
}
.css-1uccc91-singleValue {
  color: black;
  font-size: large;
} */

.wide {
  margin-left: 20px;
}

.css-1laao21-a11yText {
  display: none !important;
  /* background-color: red; */
}

