input {
    font-size: .875rem;
    &.input-text{
        font-size: .844rem !important;
        @include transition (all .4s ease-in-out);
        &::placeholder{
            @include transition (all .4s ease-in-out);
            font-size: .844rem !important;
        }
        &:focus{
            background: $primary-dark;
            border: 1px solid $secondary-color-light; 
            color: $secondary-color-light;   
            &::placeholder {
                color: $secondary-color-light;
            }
        }                                   
        &:hover{
            cursor: pointer;
            @include box-shadow(0 0 3px 0px lighten($primary-dark, 15%));
        }
    }
    &.form-control {
        background: $primary-dark;
        color: rgba($white-color, .3);
        height: calc(2rem + 2px);
        border: 1px solid rgba($white-color, .3);
        font-size: .75rem;
        @include input-placeholder {
            // color: $dark-light;
            color: rgba($white-color, .3);
            font-size: .75rem;
            text-transform: capitalize;
        }

        &:focus {
            box-shadow: none;
            outline: none;
            -webkit-outline: none;
        }
    }
}
.custom-checkbox {
    &.custom-checkbox-opt{
        input{
            font-size: .875rem;
            &::placeholder{
                font-size: .875rem;
            }
            &:focus{
                border: none;
            }
        }
    }
    label {
        color: $dark;
        font-size: .75rem;

        &.custom-control-label {

            &::before {
                border: 1.5px solid $dark-light;
                background-color: $white-color;
                @include radius(0);
            }
        }
    }

    .custom-control-input {
        &:active {
            ~.custom-control-label {
                &::before {
                    background-color: transparent;
                }
            }
        }

        &:checked {
            ~.custom-control-label {
                color: $primary-dark;

                &::before {
                    background-color: $primary-dark;
                    border-color: $primary-dark;
                }
            }
        }

    }
}
.custom-radio {
    &.radio-opt{
        label{
           font-weight: 400;
           &.custom-control-label{
                &::before{
                    background-color: rgba($white-color, .5);
                    @include box-shadow($box-shadow 0 5px 99px 0);
                }
           }
        }
    }
    label {
        color: $white-color;
        font-size: .75rem;
        font-weight: 600;;

        &.custom-control-label {

            &::before {
                background-color: $white-color;
            }
        }
    }

    .custom-control-input {
        &:active {
            ~.custom-control-label {
                &::before {
                    background-color: $primary-dark;
                }
            }
        }

        &:checked {
            ~.custom-control-label {
                color: $white-color;

                &::before {
                    background-color: $secondary-color;
                }
            }
        }

    }
    &.inline-flex{
        @include inline-flex;
        align-items: center;
    }
}

@media #{$breakpoint-lg}{
    .custom-checkbox {
        label{
            font-size: .688rem;
        }
    }
    .custom-radio {
        label{
            font-size: .688rem;
            &.custom-control-label {
                &::before {
                    width: .75rem;
                    height: .75rem;
                }
                &::after{
                    width: .75rem;
                    height: .75rem;
                }
            }
        }
    }
}

@media #{$breakpoint-md}{
    .custom-checkbox {
        label{
            font-size: .625rem;
        }
    }
    .custom-radio {
        label{
            font-size: .625rem;
            &.custom-control-label {
                &::before {
                    width: .625rem;
                    height: .625rem;
                    transform: translate(0px, 3px);
                }
                &::after{
                    width: .625rem;
                    height: .625rem;
                    transform: translate(0px, 3px);
                }
            }
        }
        &.inline-flex{
            padding-left: 1rem;
        }
    }
}

@media #{$breakpoint-xs}{
    input{
        &.input-text{
            height: calc(2rem + 0px) !important;
            font-size: .75rem !important;
            &::placeholder{
                font-size: .75rem !important;
            }   
        }
    }
  
    .custom-checkbox {
        label{
            font-size: .625rem;
        }
    }
    .custom-radio {
        label{
            font-size: .625rem;
            &.custom-control-label {
                &::before {
                    width: .625rem;
                    height: .625rem;
                    transform: translate(0px, 3px);
                }
                &::after{
                    width: .625rem;
                    height: .625rem;
                    transform: translate(0px, 3px);
                }
            }
        }
    }
}

