.kvs-select {
  position: relative;

  .select-wrapper {
    position: relative;
    background-color: transparent;
    border: 1px solid $white-opacity-2;
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    vertical-align: middle;
    background-size: 8px 10px;
    @include radius(5px);
    line-height: 1.2;
    @include transition(all 0.3s ease-in-out);
    &:focus {
      background: darken($primary-dark, 8%);
    }
    &:hover {
      cursor: pointer;
      @include box-shadow(0 0 3px 0 lighten($primary-dark, 15%));
    }
    span {
      &.select-item {
        transform: translate(0, 4px);
        color: $white-color;
        font-size: 0.75rem;
        text-transform: capitalize;
        @include line-clamp(1);
      }
    }

    ul {
      position: absolute;
      width: 100%;
      top: 140%;
      left: 0;
      right: 0;
      background-color: $white-color;
      @include radius(5px);
      opacity: 0;
      visibility: hidden;
      @include transition(all 0.5s ease-in-out);
      z-index: 2;

      li {
        line-height: 1.3;
        padding: 0.25rem 0.6125rem;
        @include transition(all 0.3s linear);
        &.active,
        &:hover {
          background-color: $bg-secondary;
        }
      }
    }

    &::after {
      position: absolute;
      right: 0.6125rem;
      top: 50%;
      @include transformY(-50%);
      content: 'unfold_more';
      font-family: 'Material Icons';
      z-index: 2;
      color: $white-color;
      pointer-events: none;
    }

    &.select-toggle {
      background-color: $white-color;

      span {
        &.select-item {
          color: $dark;
        }
      }

      &::after {
        color: $dark;
      }

      ul {
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .selected-data {
    @include display-flex(flex);
    @include justify-content-start;
    @include align-items-center;
    width: 100%;
    z-index: 1;

    span {
      padding: 0.25rem 0.5rem;
      background-color: $white-color;
      font-size: 0.75rem;
      color: $dark;
      margin-top: 1rem;
      @include radius(24px);
      @include display-flex(flex);
      @include justify-content-between;
      @include align-items-center;

      &:not(:last-child) {
        margin-right: 0.25rem;
      }
      small {
        margin-left: 0.5rem;
        cursor: pointer;
        font-size: 0.8rem;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

@media #{$breakpoint-lg} {
  .kvs-select {
    .select-wrapper {
      &::after {
        font-size: 14px;
      }
      span {
        &.select-item {
          font-size: 0.688rem;
          transform: translate(0, 4px);
        }
      }
    }
    .selected-data {
      span {
        padding: 0.1rem 0.5rem;
        font-size: 0.688rem;
      }
    }
  }
}

@media #{$breakpoint-md} {
  .kvs-select {
    .select-wrapper {
      height: calc(2rem + 0px);
      &::after {
        font-size: 12px;
      }
      span {
        &.select-item {
          font-size: 0.625rem;
          transform: translate(0, 4px);
        }
      }
    }
    .selected-data {
      span {
        padding: 0.1rem 0.5rem;
        font-size: 0.625rem;
        small {
          margin-left: 0.4rem;
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media #{$breakpoint-xs} {
  .kvs-select {
    .select-wrapper {
      height: calc(2rem + 0px);
      &::after {
        font-size: 12px;
      }
      span {
        &.select-item {
          font-size: 0.625rem;
          transform: translate(0, 4px);
        }
      }
    }
    .selected-data {
      span {
        padding: 0.1rem 0.5rem;
        font-size: 0.625rem;
        small {
          margin-left: 0.4rem;
          font-size: 0.7rem;
        }
      }
    }
  }
}
