.layersLegend {
    /* padding-right: 10px;
    padding-bottom: 10px; */
    padding: 4px;
    border: 1px solid gray;
    width: 150px;
    border-bottom: 0;
    background-color: white;
}
.layersLegend #legend-image{
    margin-right: 5px;
}
.layersLegend:last-child{
    border-bottom: 1px solid gray;
}
.leaflet-right .layersLegendTop{
    max-height: 250px;
    overflow-y: scroll;
}
.leaflet-right .layersLegendTop::-webkit-scrollbar{
    width: 6px;
}
.leaflet-right .layersLegendTop::-webkit-scrollbar-track{
    background: #c7c7c7;
}
.leaflet-right .layersLegendTop::-webkit-scrollbar-thumb{
   background: rgb(122, 122, 122);
   border-radius: 10px;
}


#legend-image {
    height: 22px;
    width: 18px;
}

.legend-list {
   display: flex;
   max-width: 100%;
   padding: 2px 2px;
}

#legend-name {
   flex: 0 0 85%;
    width: 85%
}

/* .polygon-div {
     flex:0 0 13%;
     width: 13%;
    margin-right: 5px
} */