$background-color: #f0f0f0;
$primary-color: #0023cc;
$primary-dark: #1f3be3;
$primary-extradark: #0000bb;
$primary-light: #9fa6f8;
$secondary-color: #f7d315;
$secondary-color-light: #f8e71c;
$secondary-dark: #f37600;
$heading-color: #3f4047;
$text-color: #767676;
$color-drpdown: #757575;
$border-color: #ebebeb;
$white-color: #ffffff;
$white-light: rgba($white-color, 0.6);
$bg-secondary: #0023cc1a;
$bg-white-2: #f7f6f7;
$dark-text: #222222;
$dark-text-2: #343a40;
$green-color: #71c016;
$bg-gray: #eef5f9;
$gray-light: #f7f7f7;
$danger-color: #f32f30;
$info-color: #3da5f4;
$white-color-2: #f1f1f1;
$warning-color: #fda006;
$gray-color: #777;
$blue-color: #007bff;
$text-gray: #b4b6b8;
$blue-2: #26a69a;
$purple-color: #6610f2;
$bg-dark: #282f3a;
$dark: #000000;
$dark-light: #0000004d;
$dark-light1: #00000099;
$bg-chok: #462f3f;
$pink-darken-4: #880e4f;
$bg-default: #2478fd;
$text-secondary: #26a69a;
$text-success-color: #5ed84f;
$bg-warning-color: #fdb901;
$red-darken-4: #b71c1c;
$warning-text: #f5a100;
$box-shadow: #00000029;
$white-opacity-2: rgba(255, 255, 255, 0.3);
$white-opacity-5: rgba(255, 255, 255, 0.5);
$white-opacity-7: rgba(255, 255, 255, 0.7);
$color-green: #5ace52;
$green-light: #f4fcf3;
$green-highlight: #e8f8e7;
