$background-color:#f0f0f0;
$primary-color:#0023CC;
$primary-dark:#1F3BE3;
$primary-extradark: #0000BB;
$primary-light:#9FA6F8;
$secondary-color:#F7D315;
$secondary-color-light: #F8E71C;
$secondary-dark:#F37600;
$heading-color:#3f4047;
$text-color:#767676;
$color-drpdown: #757575;
$border-color:#ebebeb;
$white-color:#ffffff;
$white-light:rgba($white-color,.6);
$bg-secondary:#0023cc1a;
$bg-white-2: #f7f6f7;
$dark-text: #222222;
$dark-text-2: #343a40;
$green-color: #71c016;
$bg-gray: #eef5f9;
$gray-light:#F7F7F7;
$danger-color: #F32F30;
$info-color: #3da5f4;
$white-color-2: #f1f1f1;
$warning-color: #fda006;
$gray-color: #777;
$blue-color: #007bff;
$text-gray: #b4b6b8;
$blue-2: #26a69a;
$purple-color: #6610f2;
$bg-dark: #282f3a;
$dark: #000000;
$dark-light:#0000004d;
$dark-light1:#00000099;
$bg-chok: #462f3f;
$pink-darken-4: #880e4f;
$bg-default: #2478fd;
$text-secondary: #26a69a;
$text-success-color: #5ed84f;
$bg-warning-color: #fdb901;
$red-darken-4: #b71c1c;
$warning-text: #F5A100;
$box-shadow: #00000029;
$white-opacity-2:rgba(255, 255, 255, 0.3);
$white-opacity-5:rgba(255, 255, 255, 0.5);
$white-opacity-7:rgba(255, 255, 255, 0.70);
$color-green:#5ACE52;
$green-light:#f4fcf3;
$green-highlight:#E8F8E7;
