$background-color:#f0f0f0;
$primary-color:#1F3BE3;
$primary-dark:#0023CC;
$secondary-color:#F8E71C;
$heading-color:#3f4047;
$text-color:#767676;
$border-color:#ebebeb;
$white-color:#ffffff;
$white-light:rgba($white-color,.6);
$bg-secondary:#0023cc1a;
$bg-white-2: #f7f6f7;
$dark-text: #222222;
$dark-text-2: #343a40;
$green-color: #71c016;
$bg-gray: #eef5f9;
$danger-color: #f1536e;
$info-color: #3da5f4;
$white-color-2: #f1f1f1;
$warning-color: #fda006;
$gray-color: #777;
$blue-color: #007bff;
$text-gray: #b4b6b8;
$blue-2: #26a69a;
$purple-color: #6610f2;
$bg-dark: #282f3a;
$dark: #000000;
$dark-light:#0000004d;
$dark-light1:#00000099;
$bg-chok: #462f3f;
$pink-darken-4: #880e4f;
$bg-default: #2478fd;
$text-secondary: #26a69a;
$text-success-color: #5ed84f;
$bg-warning-color: #fdb901;
$red-darken-4: #b71c1c;
$bg-opacity-default-5: rgba(94, 37, 114, 0.50);
$bg-opacity-default-7: rgba(94, 37, 114, 0.70);
$bg-opacity-default-8: rgba(94, 37, 114, 0.80);
$green-opacity-8:rgba(114, 192, 44, 0.8);
$green-opacity-9:rgba(114, 192, 44, 0.9);
$green-opacity-5:rgba(40, 167, 69, 0.5);
$dark-opacity-5:0px 0px 10px rgba(0, 0, 0, 0.5);
$dark-opacity-95:0px 0px 10px rgba(0, 0, 0, 0.95);
$white-opacity-2:rgba(255, 255, 255, 0.3);
$white-opacity-5:rgba(255, 255, 255, 0.5);
$white-opacity-7:rgba(255, 255, 255, 0.70);
$color-green:#5ACE52;
$green-light:#f4fcf3;
$green-highlight:#E8F8E7;