.heading1{
    font-size: 1.875rem;
    font-weight: 800;
    font-style: italic;
    color: $primary-dark;
}
.logo-heading{
    font-size: 2.125rem;
    font-weight: 800;
    font-style: italic;
    color: $primary-dark;
    span{
        color: $warning-text;
    }
    &.logo-white{
        color: $white-color;
    }
}
.heading2{
    font-size: 2.188rem  ;
    font-weight: 600;
    color: $dark;
    line-height: 3.25rem;
}
.link-title{
    font-size: .85rem  ;
    font-weight: 600;
    color: $dark;
}
.section-heading{
    font-size: .844rem  ;
    font-weight: 600;
    color: $warning-text;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    margin-bottom: .938rem;
}
.heading3{
    font-size: 1.5rem  ;
    font-weight: 600;
    color: $dark;
}
.body1{
    font-size: .844rem  ;
    font-weight: 400;
    color: $dark;
}
.body2{
    font-size: .844rem  ;
    font-weight: 600;
    color: $dark;
}
.span{
    font-size: .703rem  ;
    font-weight: 400;
    color: $primary-light;
}
.sm-span{
    font-size: .656rem  ;
    font-weight: 400;
    color: $secondary-color-light;
}

@media #{$breakpoint-lg}{
    .logo-heading{
        font-size: 1.875rem;
    }
    .heading1{
        font-size: 1.688rem  ;
    }
    .heading2{
        font-size: 1.75rem  ;
    }
    .link-title{
        font-size: .85rem  ;
    }
    .section-heading{
        font-size: .725rem  ;
        margin-bottom: .625rem;
    }
    .heading3{
        font-size: 1.125rem  ;
    }
    .body1{
        font-size: .725rem  ;
    }
    .body2{
        font-size: .725rem  ;
    }
    .span{
        font-size: .625rem  ;
    }
    .sm-span{
        font-size: .525rem  ;
    }
}

@media #{$breakpoint-md}{
    .heading1{
        font-size: 1.425rem  ;
    }
    .logo-heading{
        font-size: 1.75rem;
    }
    .heading2{
        font-size: 1.325rem;
        line-height: 2.25rem;
    }
    .link-title{
        font-size: .75rem  ;
    }
    .section-heading{
        font-size: .625rem  ;
        margin-bottom: .625rem;
    }
    .heading3{
        font-size: 1rem  ;
    }
    .body1{
        font-size: .625rem  ;
    }
    .body2{
        font-size: .625rem  ;
    }
    .span{
        font-size: .525rem  ;
    }
    .sm-span{
        font-size: .438rem  ;
    }
}

@media #{$breakpoint-sm}{   
    .heading1{
        font-size: 1.25rem  ;
    }
    .logo-heading{
        font-size: 1.65rem;
    }
    .heading2{
        font-size: 1.125rem;
        line-height: 2rem;
    }
    .link-title{
        font-size: .75rem  ;
    }
    .section-heading{
        font-size: .75rem  ;
        margin-bottom: .625rem;
    }
    .heading3{
        font-size: 1rem  ;
    }
    .body1{
        font-size: .75rem  ;
    }
    .body2{
        font-size: .75rem  ;
    }
    .span{
        font-size: .625rem  ;
    }
    .sm-span{
        font-size: .525rem  ;
    }
}

@media #{$breakpoint-xs-landscape}{
    .heading1{
        font-size: 1.125rem  ;
    }
    .logo-heading{
        font-size: 1.525rem;
    }
    .heading2{
        font-size: 1rem;
        line-height: 2rem;
    }
    .link-title{
        font-size: .75rem  ;
    }
    .section-heading{
        font-size: .625rem  ;
        margin-bottom: .625rem;
    }
    .heading3{
        font-size: .938rem  ;
    }
    .body1{
        font-size: .625rem  ;
    }
    .body2{
        font-size: .625rem  ;
    }
    .span{
        font-size: .593rem  ;
    }
    .sm-span{
        font-size: .525rem  ;
    }
}

@media #{$breakpoint-xxs-landscape}{
    .heading1{
        font-size: 1rem  ;
    }
    .logo-heading{
        font-size: 1.425rem;
    }
    .heading2{
        font-size: .938rem;
        line-height: 2rem;
    }
    .link-title{
        font-size: .625rem  ;
    }
    .section-heading{
        font-size: .625rem  ;
        margin-bottom: .625rem;
    }
    .heading3{
        font-size: .875rem  ;
    }
    .body1{
        font-size: .625rem  ;
    }
    .body2{
        font-size: .625rem  ;
    }
    .span{
        font-size: .593rem  ;
    }
    .sm-span{
        font-size: .525rem  ;
    }
}